apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
        - name: config-service
          image: d4ig0/config-service:latest
          ports:
            - containerPort: 8006

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: eureka-service
  template:
    metadata:
      labels:
        app: eureka-service
    spec:
      containers:
        - name: eureka-service
          image: d4ig0/eureka-service:latest
          env:
            - name: status.podIP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - containerPort: 8761
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tingesopep2-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tingesopep2-service
  template:
    metadata:
      labels:
        app: tingesopep2-service
    spec:
      containers:
        - name: tingesopep2-service
          image: d4ig0/tingesopep2-service:latest
          ports:
            - containerPort: 8001
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-tingesopep2:5432/tingeso
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "1234"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: proveedor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proveedor-service
  template:
    metadata:
      labels:
        app: proveedor-service
    spec:
      containers:
        - name: proveedor-service
          image: d4ig0/proveedor-service:latest
          ports:
            - containerPort: 8002
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-proveedor:5432/proveedor
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "1234"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nutricional-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nutricional-service
  template:
    metadata:
      labels:
        app: nutricional-service
    spec:
      containers:
        - name: nutricional-service
          image: d4ig0/nutricional-service:latest
          ports:
            - containerPort: 8003
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-tingesopep2:5432/tingeso
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "1234"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pago-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pago-service
  template:
    metadata:
      labels:
        app: pago-service
    spec:
      containers:
        - name: pago-service
          image: d4ig0/pago-service:latest
          ports:
            - containerPort: 8004
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-tingesopep2:5432/tingeso
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "1234"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: d4ig0/gateway-service:latest
          ports:
            - containerPort: 8007

