.center {
    display: flex;
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1.5rem sans-serif;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .eliminar {
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    margin-top: 2rem;
    border: none;
    width:20rem;
    border-radius: 1rem;
    padding: 10px;
    cursor: pointer;
  }
  

  